{% extends 'base.html' %}
{% load media %}
{% block title %}Профиль пользователя{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                {% if avatar %}
                    <img src="{% media avatar %}" class="rounded-circle img-fluid" alt="">
                {% else %}
                    <img src="https://365psd.com/images/istock/previews/1009/100996291-male-avatar-profile-picture-vector.jpg" class="rounded-circle img-fluid" alt="">
                {% endif %}
                <ul class="list-group list-group-flush">
                    {% for name, value in fields.items %}
                        <li class="list-group-item">{{ name }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn btn-primary btn-block mt-2"
                        data-toggle="modal" data-target="#edit-profile">Редактировать
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="edit-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="modal-content" method="post" action="{% url 'profile-edit' %}" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать профиль</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% for form in forms %}
                        {{ form.as_p }}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
