{% extends "base.html" %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col mb-1">
                <h1>Последние визиты</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            {% for card in object_list %}
                <div class="col mb-4">
                    <div class="card" data-id="{{ card.pk }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ card.doctor }}</h5>
                            <p class="card-text">{{ card.reason }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <small class="text-muted">
                                {{ card.data_time }}
                            </small>
                            <small class="text-muted status">
                                {{ card.status }}
                            </small>
                        </div>
                    </div>
                </div>

            {% empty %}
                <div class="col-12"><h4 class="text-muted">У вас нет карточек</h4></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}